@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins','Sans-serif';
}


/* Nav-Bar Customization*/


.logo {
    font-size: 32px;
    font-family: Ubuntu, sans-serif;
    /* 215/48 */
}

.nav {
    /* position: sticky; */
    padding: 1em 10em 1em 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 2px 1px 0px #c5bebe; 
    -webkit-box-shadow: 0px 2px 10px 0px #c5bebe; 
    -moz-box-shadow: 0px 2px 1px 0px #c5bebe;
}

.tags {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}

.tags a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}



.button {
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typingtest {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
}

.typingtest:hover {
    background-color: black;
    color: white;
}

.main {
    padding: 0em 10em 10em 10em;
    /* border: 1px solid black; */
    display: flex;
    gap: 5em;
}

.role {
    color: #1273eb;
}

.hd1 {
    font-size: 48px;
}

.para {
    font-size: 48px;
    font-weight: bolder;
}



.left {
    padding-top: 15em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 1px solid black; */
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 9em 0em 0em 0em;
}

.box {
    display: flex;
    gap: 1em;
}

.boxes {
    background-color: #0e101a;
    border-radius: 5px;
    width: 200px;
    height: 75px;
    text-align: center;
    font-size: 15px;
    color: aliceblue;
}

.box2 {
    display: flex;

    gap: 1em;
}

textarea {
    overflow-y: hidden;
    border: none;
    resize: none; 
    outline: none;
    font-size: 16px;
    height: 500px;
    width: 1000px;
    color: #0e101a;
    max-width: 95%;
    background-color: #ffffff;
    padding: 50px 30px 80px 30px;
    border-radius: 8px;
    box-shadow: 30px 30px 100px rgba(0, 0, 0, 0.3);

}

